<% include ../partials/headUser %>
  <% include ../partials/navbarUser %>

    <section>


      <h1><i class="material-icons" style="font-size: 40px;">auto_stories</i> Clases disponibles: <%= categoria %>
      </h1>
      <hr>

      <div class="container-fluid">
        <div class="row">

          <% if(clases.length> 0) { %>
            <% clases.forEach(function(clase) { %>
              <div class="col-12 mt-3">
                <div class="card">
                  <div class="card-horizontal">
                    <div class="img-square-wrapper">
                      <a href="/users/class?id=<%= clase._id %>"><img class="" src="<%= clase.image %>" width="400px"
                          height="auto" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                      <small style="float: right;"><i class="fa fa-calendar"></i>&nbsp;&nbsp;<%=
                          clase.createdAt.toLocaleDateString() %></small>
                      <p><i class="fa fa-user"></i>&nbsp;&nbsp;<%= clase.username %>
                      </p>
                      <br>
                      <h4 class="card-title">
                        <%= clase.name %>
                      </h4>
                      <br>
                      <details>
                        <summary>Descripción</summary>
                        <p>
                          <%= clase.description %>
                        </p>
                      </details>
                      <p class="card-text"></p>

                    </div>
                  </div>
                  <div class="card-footer">
                    <a href=""></a>
                    <a href="/users/class?id=<%= clase._id %>" class="btn btn-primary">Ver clase</a>
                  </div>
                </div>
              </div>
              <% }); %>
                <% } else { %>

                  <div align="center" style="padding-left: 400px; padding-top: 120px;">
                    <img
                      src="https://images.vexels.com/media/users/3/153867/isolated/preview/cf9017f933fb7aa4c72f41cddd99612a-emoticon-de-trazo-coloreado-triste-by-vexels.png"
                      width="200px" height="auto" alt="">
                    <br><br>
                    <h6>Aún no hay clases disponibles del idioma <%= categoria %>
                    </h6>
                  </div>
                  <% } %>
        </div>
      </div>



    </section>


    <% include ../partials/footerUser %>
      <% include ../partials/scriptsUser %>