<% include ../partials/headUser %>
  <% include ../partials/navbarUser %>

    <section>

      <div align="center">
        <div class="card text-white bg-warning mb-3" id="card_crear_clase">
          <div class="card-header">
            <h1 id="h1_crear_clase"><i class="fa fa-pencil-square-o"></i> Editar clase</h1>
          </div>
          <div class="card-body">
            <form action="/edit_class/<%= clase._id %>" method="post">
              <div>
                <input type="text" name="user" id="user" value="<%= usuario.email %>" style="visibility: hidden;">
                <input type="text" name="username" id="username" value="<%= usuario.username %> <%= usuario.lastname %>"
                  style="visibility: hidden;">
              </div>
              <div class="form-group">
                <label class="labels_crear_clase">Idioma </label>
                <select class="custom-select" name="language" id="language" aria-label="Default select example"
                  required>
                  <% idiomas.forEach(function(idioma) { %>
                    <% if(clase.language==idioma.name ) {%>
                      <option value="<%= idioma.name %>" selected>
                        <%= idioma.name %>
                      </option>
                      <% } %>
                        <% if(clase.language !=idioma.name ) {%>
                          <option value="<%= idioma.name %>">
                            <%= idioma.name %>
                          </option>
                          <% } %>
                            <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label class="labels_crear_clase">Nombre de la clase</label>
                <input type="text" class="form-control" name="name" id="name" value="<%= clase.name %>"
                  placeholder="Escribe..." required>
              </div>
              <div class="form-group">
                <label class="labels_crear_clase">Descripción</label>
                <input type="text" class="form-control" name="description" id="description"
                  value="<%= clase.description %>" placeholder="Escribe..." required>
              </div>

              <div class="form-group">
                <label class="labels_crear_clase">Imagen</label>
                <input type="text" class="form-control" name="image" id="image" value="<%= clase.image %>"
                  placeholder="URL" required>
              </div>
              <div class="form-group">
                <label class="labels_crear_clase">¿Publicar?</label>
                <select class="custom-select" name="published" id="published" aria-label="Default select example"
                  required>
                  <% if(clase.published=="false" ) {%>
                    <option value="false" selected>¡Aún no!</option>
                    <option value="true">¡Si!</option>
                    <% } %>
                      <% if(clase.published=="true" ) {%>
                        <option value="false">¡Aún no!</option>
                        <option value="true" selected>¡Si!</option>
                        <% } %>
                </select>
              </div>
              <br><br>
              <div align="center">
                <a href="javascript: history.go(-1)"><button type="button" style="width: 200px;"
                    class="btn btn-danger">Cancelar</button></a>
                <button type="submit" class="btn btn-light" style="width: 200px;">Actualizar</button>

              </div>


            </form>

          </div>
        </div>
      </div>
    </section>

    <% include ../partials/footerUser %>
      <% include ../partials/scriptsUser %>